:root {
    --primary-color: #473F97;
    --font-family: 'Noto Sans', sans-serif;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.top {
    background-color: var(--primary-color);
    width: 100vw;
    height: 40vh;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.appBar {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-bell, .fa-bars {
    color: white;
    font-size: 2.5vh;
}

.fa-bars {
    margin-right: 40vw;
}

.fa-bell {
    margin-left: 40vw;
}

.header {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: white;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: bold;
}

.countyContainer {
    background-color: white;
    width: 30vw;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flag {
    height: 4.5vh;
    width: 4.5vh;
}

.fa-caret-down {
    color: #61688B;
    font-size: 18px;
}

.landContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.textTop {
    display: flex;
    flex-direction: column;
}

.textTopTitle {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.textpTitle {
    color: white;
    font-size: 14px;
    font-weight: 100;
}

.btnsTop {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnSendSMS, .btnCall {
    color: white;
    font-size: 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.btnSendSMS {
    background-color: #4D79FF;
    padding: 1em;
    border-radius: 2em;
}

.btnCall {
    background-color: #FF4D58;
    padding: 1em;
    border-radius: 2em;
}

.fa-comment, .fa-phone-alt {
    color: white;
    margin-right: 1vw;
    font-size: 16px;
}

/*
Content
*/

.secondContainer {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.contentContainer {
    height: 52vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
}

.tips {
    margin-top: 3vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5vh;
}

.imgTipC {
    display: flex;
    flex-direction: column;
    width: 24vw;
    align-items: center;
}

.textTip {
    margin-top: 1vh;
    font-size: 14px;
    text-align: center;
    font-family: var(--font-family);
}

.imgTip {
    width: 24vw;
    height: 24vw;
}

.prevention {
    font-weight: bold;
    color: black;
    font-size: 2.5vh;
    font-family: var(--font-family);
    text-align: left;
    margin-left: 5vw;
    align-self: flex-start;
}

.textTest {
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 1vw;
}

.imgTest {
    margin-left: 1vw;
    width: 28vw;
    align-self: flex-end;
}

.test {
    display: flex;
    flex-direction: row;
    background-color: #FFB306;
    border-radius: 10px;
}

.titleTest {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-family);
}

.pTest {
    font-size: 14px;
}

.btnTest {
    font-family: var(--font-family);
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--primary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    border-radius: 8px;
}

.bottom {
    width: 100vw;
    height: 8vh;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-home, .fa-chart-bar, .fa-newspaper, .fa-info-circle {
    color: var(--primary-color);
    font-size: 2.5vh;
    align-self: center;
}

.a {
    text-decoration: none;
    color: var(--primary-color);
}

.a:active {
    opacity: 0.8;
}

.a:hover {
    opacity: 0.9;
}

.textIcon {
    font-size: 1.5vh;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(orientation: landscape) {
    .mainContainer {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    .top {
        background-color: white;
        width: max-content;
        height: 100vh;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        padding-top: 0vh;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
    }
    .appBar {
        display: flex;
        width: max-content;
        height: 100vh;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-right: 2vw;
        padding-top: 2vh;
        flex-direction: column;
        background-color: var(--primary-color);
        justify-content: flex-start;
    }
    .fa-bars {
        font-size: 1vw;
        margin-right: 0vw;
    }
    .fa-bell {
        font-size: 1vw;
        margin-left: 0vw;
        margin-top: 2vh;
    }
    .landContainer {
        width: max-content;
        height: 100vh;
        display: flex;
        padding-top: 2vh;
        flex-direction: column;
        justify-content: start;
    }
    .header {
        width: max-content;
        padding-left: 0vw;
        padding-right: 0vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        margin-bottom: 2vh;
    }
    .title {
        color: var(--primary-color);
        font-family: var(--font-family);
        font-size: 24px;
        font-weight: bold;
    }
    .countyContainer {
        background-color: var(--primary-color);
        width: 6vw;
        height: 5vh;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .fa-caret-down {
        color: white;
        font-size: 18px;
    }
    .textTop {
        width: 22vw;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 1em;
        border-radius: 20px;
        margin-bottom: 2vh;
    }
    .textTopTitle {
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
    .textpTitle {
        color: white;
        font-size: 14px;
        font-weight: 100;
    }
    .btnsTop {
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btnSendSMS, .btnCall {
        color: white;
        font-size: 16px;
        width: max-content;
        text-align: center;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 2em;
    }
    .btnSendSMS {
        background-color: #4D79FF;
        margin-left: 1vw;
    }
    .btnCall {
        background-color: #FF4D58;
        margin-right: 1vw;
    }
    .fa-comment, .fa-phone-alt {
        color: white;
        margin-right: 1vw;
        font-size: 16px;
    }
    /*//////////////////////////*/
    /*
Content
*/
    .secondContainer {
        width: 75vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 1vw;
    }
    .contentContainer {
        height: 100vh;
        width: max-content;
        display: flex;
        flex-direction: column;
    }
    .content {
        overflow-y: hidden;
        overflow-x: hidden;
        width: max-content;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .tips {
        width: 14vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .imgTipC {
        display: flex;
        flex-direction: column;
        width: 10vw;
        align-items: center;
        margin-top: 2vh;
    }
    .textTip {
        margin-top: 0vh;
        font-size: 14px;
        text-align: center;
        font-family: var(--font-family);
    }
    .imgTip {
        width: 10vw;
        height: 10vw;
    }
    .prevention {
        font-weight: bold;
        color: black;
        font-size: 2.5vh;
        margin-left: 0vw;
        font-family: var(--font-family);
    }
    .textTest {
        margin-top: 1vh;
        margin-bottom: 1.5vh;
        margin-left: 2vw;
        margin-right: 1vw;
    }
    .imgTest {
        margin-left: 1vw;
        width: 10vw;
        margin-top: 10vh;
        align-self: flex-start;
    }
    .test {
        display: flex;
        flex-direction: row;
        background-color: #FFB306;
        padding-bottom: 1em;
        border-radius: 10px;
        width: 34vw;
        height: max-content;
    }
    .titleTest {
        font-weight: bold;
        font-size: 16px;
        font-family: var(--font-family);
    }
    .pTest {
        font-size: 14px;
    }
    .btnTest {
        font-family: var(--font-family);
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: var(--primary-color);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        border-radius: 8px;
    }
    /*Bottom*/
    .bottom {
        width: 8vw;
        height: 100vh;
        display: flex;
        justify-self: right;
        flex-direction: column;
        justify-content: space-around;
    }
   
}